{% assign posts = site[page.collection] %}
<div id="post-related">
	<h3>Related Posts</h3>

	<ul>
		{% for post in posts %}
		{% if post.url != page.url %}
		<li>
			<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

<div id="post-recommend">
	<h3>Recommended Posts</h3>

	{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample: 7 %}
	<ul>
		{% for post in posts %}
		<li style="display: inline-block;">
			<a href="{{ site.url }}{{ post.url }}" class="{{ post.background }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>
</div>