{% assign posts = site[page.collection] %}
{% assign count = false %}
<div id="post-related">
	<h3>Related Posts</h3>

	<ul>
		{% for post in posts %}
		{% if post.url != page.url and post.background == page.background %}
		{% assign count = true %}
		<li>
			<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

{% if count == false %}
<style>
	#post-related {
		display: none;
	}
</style>
{% endif %}

<div id="post-recommend">
	<h3>Recommended Posts</h3>

	{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample: 7 %}
	<ul>
		{% for post in posts %}
		<li style="display: inline-block;">
			<a href="{{ site.url }}{{ post.url }}" class="{{ post.background }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>
</div>